@mixin remove-apparence-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

@mixin remove-apparence-link {
    color: inherit;
    text-decoration: none;
}

@mixin remove-apparence-button {
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    outline: none;
    padding: 0;
}

@mixin responsive-tablet {
    @media screen and (max-width: 1279px) {
        @content;
    }
}

@mixin responsive-mobile {
    @media screen and (max-width: 780px) {
        @content;
    }
}