.numbers {
    background-color: $dark-blue;
    padding: 100px 0 226px;

    @include responsive-tablet {
        padding: 100px 0 150px;
    }

    &__items {
        @include remove-apparence-list;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        gap: 80px;
        justify-content: flex-end;

        @include responsive-tablet {
            justify-content: center;
        }
    }

    &__item {
        color: $green;
        font-family: 'Montserrat', sans-serif;
        font-size: 50px;
        font-weight: 700;
        line-height: (60/50);
        text-align: center;

        @include responsive-mobile {
            width: 100%;
        }
    }

    &__info {
        margin-bottom: 20px;
        padding-bottom: 10px;
        position: relative;

        &::after {
            background-color: $green;
            border-radius: 5px;
            bottom: 0;
            content: '';
            display: block;
            height: 5px;
            left: 50%;
            position: absolute;
            transform: translateX(-50%);
            width: 33px;
        }

        > span {
            font-size: 22px;
            line-height: (60/22);
            margin: 0 10px;
        }
    }

    &__description {
        color: $essential-color;
        display: block;
        font-size: 15px;
        line-height: (22/15);
    }
}